.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
}

    .grid div {
        color: #000;
        padding: 20px;
        font-size: 1.5rem;
        text-align: center;
    }

    .grid p {
        margin-top: 10px;
        font-size: 1.5rem;
        text-align: center;
    }

.gold {
    background-color: gold;
}

.silver {
    background-color: silver;
}

.bronze {
    background-color: #cd7f32;
}

.white {
    background-color: #ffffff;
}